@tailwind base;
@tailwind components;
@tailwind utilities;


#main {
    width: 100%;
    height: 300vh;
  }
  
  .section-container {
    position: relative;
    background-color: white;
    color: white;
    text-align: center;
  }
  
  .section-container:nth-of-type(1) {
    height: 300vh;
  }
  
  .hero {
    position: relative;
  }
  
  .hero-text {
    transform: scale(2);
  }
  
  .canvas-container {
    position: sticky;
    top: 0;
  }
  .parkour-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
  }